body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
    max-width: 960px;
    margin: auto;
    background-color:#faf0e6;
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}
main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}
header {
    text-align: center;
    margin: auto 2em;
   
    
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: rgb(19, 18, 18);
    height: 2px;
}

h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
}
#mainLeft {
    border-right: 1px solid #212834;
    background-color:#bc987e;
   

}
p {
     color: azure;
}
img{
    float:right 

    
}

footer{
    width: 100%;
    height: 11px;
    position: fixed;
    bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;
  font-size:larger;
    color: #438797;
    background-color: aliceblue;
    word-spacing: 5px;
}

    
